<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <h1><%= title %></h1>
  <ul>
    <% for (var i = 0; i < items.length; i++) {%>
      <li><%= items[i].desc %></li>
    <% } %>
  </ul>

  <form action="/add">
    <input type="text" name="newItem" />
    <button type="submit">Add Item</button>
  </form>

</body>
</html>
